<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Student Management System</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Employee Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/users}">Employee Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Form</h3>
            <form th:action="@{/user/{id}(id=${user.id})}" th:object="${user}" method="POST" onsubmit="return confirmSubmit();">
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control form-control-lg" placeholder="Enter first name" />
                    <label class="form-label" for="firstName">First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control form-control-lg" placeholder="Enter first name"/>
                    <label class="form-label" for="lastName">Last Name</label>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div data-mdb-input-init class="form-outline datepicker w-100">
                    <input type="date" th:field="*{birthday}" class="form-control form-control-lg" id="birthdayDate" />
                    <label for="birthdayDate" class="form-label">Birthday</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>
                  <!--                  <select th:field="*{male}">-->
                  <!--                    <option th:value=1 th:text="Male">-->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" th:field="*{male}" type="radio" name="gender" id="femaleGender" th:value="0" th:checked="*{!male}" />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" th:field="*{male}" type="radio" name="gender" id="maleGender" th:value="1" th:checked="*{male}" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>
                  <!--                    </option>-->
                  </select>




                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div data-mdb-input-init class="form-outline">
                    <input type="email" th:field="*{email}" id="emailAddress" class="form-control form-control-lg" />
                    <label class="form-label" for="emailAddress">Email</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div data-mdb-input-init class="form-outline">
                    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" class="form-control form-control-lg" />
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" th:field="*{address}" id="address" class="form-control form-control-lg" />
                    <label class="form-label" for="emailAddress">Address</label>
                  </div>

                </div>

              </div>

              <!--              <div class="row">-->
              <!--                <div class="col-7">-->

              <!--                  <select class="select form-control-lg">-->
              <!--                    <option value="1" disabled>Choose option</option>-->
              <!--                    <option value="2">Male</option>-->
              <!--                    <option value="3">Female</option>-->
              <!--                    <option value="4">Other</option>-->
              <!--                  </select>-->
              <!--                  <label class="form-label select-label">Gender</label>-->

              <!--                </div>-->
              <!--              </div>-->

              <div class="mt-1 pt-1">
                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!--<div class = "container">-->
<!--  <div class = "row">-->
<!--    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">-->
<!--      <h1 class = "text-center"> Update Employee </h1>-->
<!--      <div class = "card-body">-->
<!--        <form th:action="@{/user/{id} (id=${user.id})}" th:object = "${user}" method="POST">-->
<!--          <div class ="form-group">-->
<!--            <label> First Name </label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "firstName"-->
<!--                    th:field = "*{firstName}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Enter first name"-->
<!--            />-->
<!--          </div>-->

<!--          <div class ="form-group">-->
<!--            <label> Last Name </label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "lastName"-->
<!--                    th:field = "*{lastName}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Enter Last Name"-->
<!--            />-->
<!--          </div>-->

<!--          <div class ="form-group">-->
<!--            <label> Email </label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "email"-->
<!--                    th:field = "*{email}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Enter Email"-->
<!--            />-->
<!--          </div>-->
<!--          <div class ="form-group">-->
<!--            <label> Phone number </label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "email"-->
<!--                    th:field = "*{phoneNumber}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Enter Phone Number"-->
<!--            />-->
<!--          </div>-->
<!--          <div class ="form-group">-->
<!--            <label> Date of birth </label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "email"-->
<!--                    th:field = "*{birthday}"-->
<!--                    class = "form-control"-->
<!--                    placeholder="Enter Student Email"-->
<!--            />-->
<!--          </div>-->

<!--          <div class = "box-footer">-->
<!--            <button type="submit" class = "btn btn-primary">-->
<!--              Submit-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</body>
</html>

<script>
  function confirmSubmit() {
    // Hi?n th? h?p tho?i xác nh?n
    let confirmed = confirm("Are you sure you want to submit?");

    // Tr? v? true n?u ng??i dùng xác nh?n, ng??c l?i tr? v? false
    return confirmed;
  }
</script>