<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>

</head>

<body>
<div class="container-fluid">

    <div th:replace="~{fragments/barside}"></div>

    <div class="hrm-section">
        <div class="hrm-container">
            <div class="text-center m-3 text-dark">
                <h3>Lỗi 403: You do not have permission to access this page</h3>
            </div>
        </div>
    </div>

    <!--    <script type="text/javascript" th:src="@{/js/sideBar.js}"></script>-->
</div>
</body>
</html>