<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <style>
        /* CSS for changing color when radio button is checked */
        .form-check-input:checked + .form-check-label::before {
            background-color: #eea738;
        }

        /* CSS for changing background color of submit button */
        .btn-primary {
            background-color: #eea738;
        }

    </style>
</head>

<header th:replace="~{fragments/barside}">

</header>
<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Form</h3>
                        <form th:action="@{/users}" th:object="${user}" method="GET"
                               >
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" th:field="*{firstName}" id="firstName"
                                               class="form-control form-control-lg" placeholder="Enter first name" readonly/>
                                        <label class="form-label" for="firstName">First Name</label>


                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" th:field="*{lastName}" id="lastName"
                                               class="form-control form-control-lg" placeholder="Enter first name" readonly/>
                                        <label class="form-label" for="lastName">Last Name</label>


                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="date" th:field="*{birthday}" class="form-control form-control-lg"
                                               id="birthdayDate" disabled/>
                                        <label for="birthdayDate" class="form-label">Birthday</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="mb-2">
                                        <h6 class="mb-2 pb-1">Gender: </h6>
                                        <!--                  <select th:field="*{male}">-->
                                        <!--                    <option th:value=1 th:text="Male">-->
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" th:field="*{male}" type="radio" name="gender"
                                                   id="femaleGender" th:value="0" th:checked="*{!male}" disabled/>
                                            <label class="form-check-label" for="femaleGender">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" th:field="*{male}" type="radio" name="gender"
                                                   id="maleGender" th:value="1" th:checked="*{male}" disabled/>
                                            <label class="form-check-label" for="maleGender">Male</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="email" th:field="*{email}"
                                               id="emailAddress" class="form-control form-control-lg" readonly/>
                                        <label class="form-label" for="emailAddress">Email</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="tel" th:field="*{phoneNumber}" id="phoneNumber"
                                               class="form-control form-control-lg" readonly/>
                                        <label class="form-label" for="phoneNumber">Phone Number</label>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" th:field="*{address}" id="address"
                                               class="form-control form-control-lg" readonly/>
                                        <label class="form-label" for="emailAddress">Address</label>


                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2 ">

                                    <button class="rounded " th:onclick="'changePass(' + ${user.id} + ')'" hidden>
                                        <span>Change password</span>

                                    </button>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <input class="form-check-input" type="checkbox" id="isActive" th:field="*{isActived}" disabled/>
                                    <label class="form-check-label" for="isActive">Active</label>
                                </div>
                                <div class="col-md-6 mb-4 pb-2 pt-1 d-flex align-content-center">
                                    <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                           type="submit" value="Back" style="background-color: #eea738"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

<script>
    function confirmSubmit() {
        let confirmed = confirm("Are you sure you want to submit?");

        return confirmed;
    }

    function changePass(userId) {
        window.location.href = "/user/edit/password/" + userId;
    }

</script>