<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>

</head>
<style>
    .page-item.active a {
        border: 1px solid #ccc;
        background-color: #dea8059c;
        color: white;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Lắng nghe sự kiện khi thay đổi giá trị của phần tử start date và end date
        document.getElementById("fromDate").addEventListener("change", function() {
            validateDateOrder();
            clearMonthAndYear();
        });
        document.getElementById("toDate").addEventListener("change", function() {
            validateDateOrder();
            clearMonthAndYear();
        });

        // Lắng nghe sự kiện khi thay đổi giá trị của phần tử month và year
        document.getElementById("sel1").addEventListener("change", function() {
            clearStartDateAndEndDate();
        });
        document.getElementById("sel2").addEventListener("change", function() {
            clearStartDateAndEndDate();
        });

        function clearMonthAndYear() {
            // Chuyển giá trị phần month và year thành rỗng (tạo ra một giá trị là "Tháng" và "Năm" không chứa giá trị nào)
            document.getElementById("sel1").value = "";
            document.getElementById("sel2").value = "";
            console.log(12)
        }

        function clearStartDateAndEndDate() {
            // Xóa giá trị trong phần start date và end date
            document.getElementById("fromDate").value = "";
            document.getElementById("toDate").value = "";
            console.log(21)
        }

        function validateDateOrder() {
            var startDate = document.getElementById("fromDate").value;
            var endDate = document.getElementById("toDate").value;

            if (startDate && endDate) { // Chỉ kiểm tra nếu cả hai trường đều đã được nhập
                if (new Date(startDate) > new Date(endDate)) { // Nếu ngày bắt đầu lớn hơn ngày kết thúc
                    alert("Start date must be before end date!");
                    // Xóa giá trị trong phần start date và end date
                    document.getElementById("fromDate").value = "";
                    document.getElementById("toDate").value = "";
                }
            }
        }
    });

</script>
<body>
<div th:replace="~{fragments/barside}">

</div>
<div class="container">
    <div th:if="${mess}" class="alert alert-success" role="alert">
        <span th:text="${mess}"></span>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <div class="row mt-5 mb-5" style="background-color: #dea8059c;">
        <h1 class="mt-5 mb-5" style="color: black;">List timekeeping</h1>
    </div>
    <div class="d-flex justify-content-between">
        <div class="">
            <a th:href="@{/admin/attendance/insert}" class="btn btn-primary btn-sm mb-3"
               style="background-color: #dea8059c; color: black;"> Add timekeeping</a>
        </div>
        <div class="">
            <form th:object="${searchForm}">
                <div class="input-group d-flex">
                    <input id="keyword" type="search" name="keyword" th:field="*{keyword}"  class="form-control"
                           placeholder="Enter keyword">
<!--                    <button type="submit" class="btn btn-secondary" style="background-color: #dea8059c; color: #333333 ">Search</button>-->
                </div>
                <div class=" d-flex justify-content-between mt-2">
                    <div>
                        <p class="m-0">Start date</p>
                        <input type="date" name="fromDate" class="form-control" th:field="*{fromDate}"
                               id="fromDate"/>
                    </div>
                    <div>
                        <p class="m-0">End date</p>
                        <input type="date" name="toDate" class="form-control" th:field="*{toDate}"
                               id="toDate"/>
                    </div>



                </div>
                <div class="d-flex justify-content-between mb-1 mt-2">
                    <div class="col-auto ">
                        <select class="form-select" id="sel1" th:field="*{month}"  name="month" >
                            <option  value="">Month</option>
                            <option th:each="index : ${#numbers.sequence(1, 12)}" th:value="${index}" th:text="${'Month ' + index}"></option>
                        </select>
                    </div>
                    <div class="col-auto ">
                        <select class="form-select" id="sel2" th:field="*{year}"  name="year" >
                            <option  value="">Năm</option>
                            <option th:each="index : ${#numbers.sequence(2024, 2019)}" th:value="${index}" th:text="${'Year ' + index}"></option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary"
                                style="background-color: #dea8059c; color: #333333 ">Search
                        </button>
                    </div>
                </div>

            </form>



        </div>
    </div>
    <div th:if="${attendances.size() > 0}">
        <table class="table table-hover table-responsive-xl table-striped">
            <thead class="" style=" background-color: #dea8059c; ">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Full name</th>
                <th scope="col">Date check</th>
                <th scope="col">Time check in</th>
                <th scope="col">Time check out</th>
                <th scope="col">Working time</th>
                <th scope="col">Status</th>
                <th scope="col">Allowed</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attendance : ${attendances}">
                <th scope="row" th:text="${attendance.id}"></th>
                <td th:text="${attendance.user.email}"></td>
                <td th:text="${attendance.user.firstName} +' '+${attendance.user.lastName}"></td>
                <td th:if="${attendance.dateCheck != null}" th:text="${attendance.dateCheck}"></td>
                <td th:unless="${attendance.dateCheck != null}" style="text-align: center;">-</td>
                <td th:if="${attendance.timeCheckIn != null}" th:text="${attendance.timeCheckIn}"></td>
                <td th:unless="${attendance.timeCheckIn != null}" style="text-align: center;">-</td>
                <td th:if="${attendance.timeCheckOut != null}" th:text="${attendance.timeCheckOut}"></td>
                <td th:unless="${attendance.timeCheckOut != null}" style="text-align: center;">-</td>
                <td th:if="${attendance.workTime != null}" th:text="${attendance.workTime}"></td>
                <td th:text="${attendance.status}"></td>
                <td th:if="${attendance.allowed != null}" th:text="${attendance.allowed}"></td>
                <td th:unless="${attendance.allowed != null}" style="text-align: center;">-</td>

                <td>
                    <button th:attr="onclick='viewAttendance(' + ${attendance.id} + ')'">
                        <i class="fa-solid fa-circle-info" style="color: #eea738"></i>
                    </button>
                    <button th:attr="onclick='editAttendance(' + ${attendance.id} + ')'">
                        <span class="fa-regular fa-pen-to-square icon-dark" style="color: cornflowerblue"></span>
                    </button>
                    <button th:attr="onclick='confirmDelete(' + ${attendance.id} + ')'">
                        <span class="fa-regular fa-trash-can btn-delete" style="color: red"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${attendances.size() > 0}">
        <span>Not found!</span>
    </div>
    <div th:replace="~{fragments/paging :: pagination('/admin/attendances')}"></div>

</div>
</body>
</html>
<script>

    $(document).ready(function () {
        // ...

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/tutorials}]]";
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }

    function confirmDelete(attendanceId) {
        if (confirm("Are you sure you want to delete this attendance?")) {
            window.location.href = "/admin/attendance/delete/" + attendanceId;
        }
    }

    function viewAttendance(attendanceId) {
        window.location.href = "/admin/attendance/view/" + attendanceId;
    }

    function editAttendance(attendanceId) {
        window.location.href = "/admin/attendance/edit/" + attendanceId;
    }

    let paginationItems = document.querySelectorAll('.page-item');

    // Lặp qua mỗi ô pagination và thêm sự kiện click
    paginationItems.forEach(function (item) {
        item.addEventListener('click', function () {
            paginationItems.forEach(function (element) {
                element.classList.remove('active');
            });
            this.classList.add('active');
        });
    });



</script>