<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Student Management System</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>

<header th:replace="~{fragments/navbar}">

</header>

<body>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Form</h3>
            <form th:action="@{/user/{id}(id=${user.id})}" th:object="${user}" method="POST" onsubmit="return confirmSubmit();">
              <div class="row">
                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control form-control-lg" placeholder="Enter first name" />
                    <label class="form-label" for="firstName">First Name</label>
                    <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>

                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control form-control-lg" placeholder="Enter first name"/>
                    <label class="form-label" for="lastName">Last Name</label>
                    <p th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}"></p>

                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div data-mdb-input-init class="form-outline datepicker w-100">
                    <input type="date" th:field="*{birthday}" class="form-control form-control-lg" id="birthdayDate" />
                    <label for="birthdayDate" class="form-label">Birthday</label>
                  </div>

                </div>
                <div class="col-md-6 mb-4">

                  <h6 class="mb-2 pb-1">Gender: </h6>
                  <!--                  <select th:field="*{male}">-->
                  <!--                    <option th:value=1 th:text="Male">-->
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" th:field="*{male}" type="radio" name="gender" id="femaleGender" th:value="0" th:checked="*{!male}" />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" th:field="*{male}" type="radio" name="gender" id="maleGender" th:value="1" th:checked="*{male}" />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>
                  <!--                    </option>-->
                  </select>




                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div data-mdb-input-init class="form-outline">
                    <input type="email" th:field="*{email}" id="emailAddress" class="form-control form-control-lg" />
                    <label class="form-label" for="emailAddress">Email</label>
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>

                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">

                  <div data-mdb-input-init class="form-outline">
                    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" class="form-control form-control-lg" />
                    <label class="form-label" for="phoneNumber">Phone Number</label>
                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger" th:errors="*{phoneNumber}"></p>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div data-mdb-input-init class="form-outline">
                    <input type="text" th:field="*{address}" id="address" class="form-control form-control-lg" />
                    <label class="form-label" for="emailAddress">Address</label>
                    <p th:if="${#fields.hasErrors('address')}" class="text-danger" th:errors="*{address}"></p>

                  </div>

                </div>

              </div>


              <div class="mt-1 pt-1">
                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>

<script>
  function confirmSubmit() {
    let confirmed = confirm("Are you sure you want to submit?");

    return confirmed;
  }
</script>