<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>
    <script th:src="@{/js/autocomplete.js}"></script>
    <link rel="stylesheet" th:href="@{/css/autocomplete.css}">

</head>

<header th:replace="~{fragments/barside}">

</header>

<body>
<section class="">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">


                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Mail information</h3>
                        <form th:action="@{/admin/mail/insert}" th:object="${mailForm}" method="POST"
                              onsubmit="return confirmSubmit();">
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <div id="formReceive">
                                            <h6>Receiver </h6>
                                            <div>
                                                <div class="autocomplete"
                                                     style="width:300px; margin-bottom: 10px; display: inline-block;">
                                                    <div class="autocomplete" style="width:300px; margin-bottom: 10px;">
                                                        <input class="rounded" id="myInputEmail" type="text"
                                                               name="myCountry"
                                                               placeholder="Email" style="margin-left: 5px;">
                                                        <i onclick="addToRecipient()"
                                                           class="px-3 fa-solid fa-2x fa-circle-plus"
                                                           style="cursor: pointer;"></i>
                                                    </div>
                                                </div>
                                                <p id="error-message" style="color: red;"></p>

                                            </div>
                                            <label>
                                                <textarea class="rounded" th:field="*{mailRecipient}" rows="4"
                                                          cols="35"></textarea>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="" style="margin-left: 100px;">
                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <h6>Sending date</h6>
                                            <input type="date" class="form-control" id="datepicker"
                                                   th:field="*{dateSend}" autocomplete="off"/>
                                        </div>
                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <h6>Sending time</h6>
                                            <input type="time" class="form-control" id="timepicker"
                                                   th:field="*{timeSend}" autocomplete="off"/>
                                        </div>
                                        <p id="time-warning" style="color: red;"></p>

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 mb-4 d-flex align-items-center">
                                    <div id="formHeader">
                                        <h6>Title</h6>
                                        <label>
                                            <textarea class="rounded" th:field="*{title}" rows="2" cols="65"></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 mb-4 d-flex align-items-center">
                                    <div data-mdb-input-init class="form-outline">
                                        <div id="formContent">
                                            <h6>Content</h6>
                                            <label>
                                                <textarea class="rounded" th:field="*{content}" rows="5"
                                                          cols="65"></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 pt-1 d-flex">
                                <!--                                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" type="button" value="Edit" th:attr="onclick='editAttendance(' + ${attendance.id} + ')'" />-->
                                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                       type="button" value="Back" th:attr="onclick='backToMails()'"/>

                                <button class="btn btn-primary btn-lg m-1" id="draftButton" disabled>Draft</button>

                                <!--                                <input  data-mdb-button-init-->
                                <!--                                       data-mdb-ripple-init class="btn btn-primary btn-lg"-->
                                <!--                                       style="margin-left: 390px;" type="submit" value="Submit"/>-->
                                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg disabled"
                                       style="margin-left: 390px;" type="submit" value="Submit" disabled/>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>

<script th:inline="javascript">
    var mailList = /*[[${mailList}]]*/ [];
    function checkFormFields() {
        const dateSend = document.getElementById("datepicker").value;
        const timeSend = document.getElementById("timepicker").value;
        const mailRecipient = document.getElementById("mailRecipient").value;
        const title = document.getElementById("title").value;
        const content = document.getElementById("content").value;

        const isFormFilled = dateSend || timeSend || mailRecipient || title || content;
        if(!isFormFilled){
            document.getElementById("draftButton").disabled = true;
            document.getElementById("draftButton").classList.add("disabled");
            document.getElementById("submitButton").disabled = true;
            document.getElementById("submitButton").classList.add("disabled");
        } else{
            document.getElementById("draftButton").disabled = false;
            document.getElementById("draftButton").classList.remove("disabled");
            document.getElementById("submitButton").disabled = false;
            document.getElementById("submitButton").classList.remove("disabled");
        }
    }

    document.getElementById("datepicker").addEventListener("input", checkFormFields);
    document.getElementById("timepicker").addEventListener("input", checkFormFields);
    document.getElementById("mailRecipient").addEventListener("input", checkFormFields);
    document.getElementById("title").addEventListener("input", checkFormFields);
    document.getElementById("content").addEventListener("input", checkFormFields);

</script>

<script>
    function saveDraft(url, data) {
        console.log("Starting draft function");
        console.log("URL:", url);
        console.log("Data to be sent:", data);

        return new Promise(function (resolve, reject) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                success: function (response) {
                    console.log("Received response from server:", response);
                    alert('Mail đã được lưu thành draft.');

                },
                error: function (ex) {
                    console.error("Error during AJAX request:", ex);
                    alert("Can not connect to server.");
                    reject(ex); // Indicate failure of the API call
                }
            });
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        var draftButton = document.getElementById("draftButton");

        draftButton.addEventListener("click", function (event) {
            event.preventDefault();

            var mailData = {
                dateSend: document.getElementById("datepicker").value,
                timeSend: document.getElementById("timepicker").value,
                mailRecipient: document.getElementById("mailRecipient").value,
                title: document.getElementById("title").value,
                content: document.getElementById("content").value
            };

            saveDraft("/admin/mail/setdraft", mailData).then(function () {
                window.location.href = "/admin/mails";
            }).catch(function (ex) {
                console.error("Failed to save draft:", ex);
            });

        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        var dateInput = document.getElementById("datepicker");
        var timeInput = document.getElementById("timepicker");
        var submitBtn = document.querySelector("input[type='submit']");
        var warningMessage = document.getElementById("time-warning");

        if(!dateInput || !timeInput){
            submitBtn.disabled = true;
            submitBtn.classList.add("disabled");
        } else {
            submitBtn.disabled = false;
            submitBtn.classList.remove("disabled");
        }

        dateInput.addEventListener("change", function () {
            validateDateTime();
        });

        timeInput.addEventListener("change", function () {
            validateDateTime();
        });

        function validateDateTime() {
            var selectedDate = new Date(dateInput.value + "T" + timeInput.value);
            var now = new Date();
            var oneMinuteAhead = new Date(now.getTime() + 60000); // Thêm 1 phút

            if (selectedDate <= oneMinuteAhead) {
                submitBtn.disabled = true;
                submitBtn.classList.add("disabled");
                warningMessage.innerHTML = "Hẹn thời gian xa hơn.";
            } else {
                submitBtn.disabled = false;
                submitBtn.classList.remove("disabled");
                warningMessage.innerHTML = "";
            }
        }
    });

</script>

<script>
    function addToRecipient() {
        var input = document.getElementById("myInputEmail");
        var recipient = document.getElementById("formReceive").querySelector("textarea");
        var errorMessage = document.getElementById("error-message");

        // Lấy giá trị từ input và loại bỏ khoảng trắng
        var inputValue = input.value.trim();

        // Lấy danh sách email hiện tại trong trường nhận
        var currentRecipients = recipient.value.split(',').map(email => email.trim());

        // Kiểm tra xem email đã tồn tại trong danh sách hay chưa
        if (inputValue === "") {
            errorMessage.innerHTML = "Email không được để trống.";
        } else if (currentRecipients.includes(inputValue)) {
            // Nếu đã tồn tại, hiển thị lỗi
            errorMessage.innerHTML = "Email đã tồn tại.";
        } else {
            // Nếu chưa tồn tại, thêm email vào trường nhận và xóa lỗi
            if (recipient.value !== "") {
                recipient.value += ", " + inputValue;
            } else {
                recipient.value = inputValue;
            }
            // Xóa thông báo lỗi nếu có
            errorMessage.innerHTML = "";
            // Xóa nội dung của input
            input.value = "";
        }
    }


    document.addEventListener('DOMContentLoaded', function () {
        // Khởi tạo autocomplete cho input box có id là 'myInput'
        autocomplete(document.getElementById('myInputEmail'), mailList);
    });

    // autocomplete(document.getElementById("myInput"), mailList);

    function confirmSubmit() {
        // Hi?n th? h?p tho?i xác nh?n
        let confirmed = confirm("Are you sure you want to submit?");

        // Tr? v? true n?u ng??i dùng xác nh?n, ng??c l?i tr? v? false
        return confirmed;
    }



    function backToMails() {
        const dateSend = document.getElementById("datepicker").value;
        const timeSend = document.getElementById("timepicker").value;
        const mailRecipient = document.getElementById("mailRecipient").value;
        const title = document.getElementById("title").value;
        const content = document.getElementById("content").value;

        const isFormFilled = dateSend || timeSend || mailRecipient || title || content;

        if (isFormFilled) {
            if (confirm("Bạn có muốn lưu mail vào bản nháp không?")) {
                var mailData = {
                    dateSend: document.getElementById("datepicker").value,
                    timeSend: document.getElementById("timepicker").value,
                    mailRecipient: document.getElementById("mailRecipient").value,
                    title: document.getElementById("title").value,
                    content: document.getElementById("content").value
                };

                saveDraft("/admin/mail/setdraft", mailData).then(() => {
                    window.location.href = "/admin/mails";
                }).catch((error) => {
                    console.error("Failed to save draft:", error);
                    // Optionally handle the error case here
                });
            } else {
                window.location.href = "/admin/mails";
            }
        } else {
            window.location.href = "/admin/mails";
        }
    }


</script>