<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>

</head>

<header th:replace="~{fragments/barside}">

</header>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("timeCheckOut").addEventListener("change", function() {
            var checkInTime = document.getElementById("timeCheckIn").value;
            var checkOutTime = this.value;
            if (checkInTime && checkOutTime) {
                if (checkInTime >= checkOutTime) {
                    document.getElementById("checkoutError").style.display = "block";
                    document.getElementById("submitbutton").disabled = true;

                } else {
                    document.getElementById("checkoutError").style.display = "none";
                    document.getElementById("checkinError").style.display = "none";
                    document.getElementById("submitbutton").disabled = false;
                }
            }
        });
        document.getElementById("timeCheckIn").addEventListener("change", function() {
            var checkInTime = this.value;
            var checkOutTime = document.getElementById("timeCheckOut").value;
            if (checkInTime && checkOutTime) {
                if (checkInTime >= checkOutTime) {
                    document.getElementById("checkinError").style.display = "block";
                    document.getElementById("submitbutton").disabled = true;
                } else {
                    document.getElementById("checkoutError").style.display = "none";
                    document.getElementById("checkinError").style.display = "none";
                    document.getElementById("submitbutton").disabled = false;
                }
            }
        });
    });

</script>

<body>
<section class="">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">


                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit timekeeping</h3>
                        <form th:action="@{/admin/attendance/edit/{id}(id=${attendance.id})}" th:object="${attendance}" method="POST" onsubmit="return confirmSubmit();">
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" th:field="*{user.email}" id="firstName" class="form-control form-control-lg" readonly />
                                        <label class="form-label" for="firstName">Email</label>
<!--                                        <p th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}"></p>-->
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="date" th:field="*{dateCheck}" class="form-control form-control-lg" id="dateCheck" />
                                        <label for="dateCheck" class="form-label">Timekeeping date</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="time" th:field="*{timeCheckIn}" class="form-control form-control-lg" id="timeCheckIn" />
                                        <label for="timeCheckIn" class="form-label">Checkin time</label>
                                        <p id="checkinError" class="text-danger" style="margin-top: 0.25rem; display: none;">Checkin time must be less than checkout time</p>

                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="time" th:field="*{timeCheckOut}" class="form-control form-control-lg" id="timeCheckOut" />
                                        <label for="timeCheckOut" class="form-label">Checkout time</label>
                                        <p id="checkoutError" class="text-danger" style="margin-top: 0.25rem; display: none;">Checkout time must be greater than checkin time</p>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2 pb-2">

                                    <h6 class="mb-2 pb-1">Status: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="ontime" th:value="${ONTIME}" th:checked="*{status == 'ONTIME'}" disabled />
                                        <label class="form-check-label" for="ontime">On time</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="late" th:value="${LATE}" th:checked="*{status == 'LATE'}" disabled/>
                                        <label class="form-check-label" for="late">Late</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="miss" th:value="${MISS}" th:checked="*{status == 'MISS'}" />
                                        <label class="form-check-label" for="miss">Miss</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{allowed}" type="checkbox" id="permissionCheckbox" th:value="true" th:checked="*{allowed}" onchange="toggleFormContentReadOnly()" />
                                        <label class="form-check-label" for="permissionCheckbox">Allowed</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div id="formContent">
                                        <h6>Note</h6>
                                        <label>
                                            <textarea th:field="*{note}" rows="4" cols="40" readonly></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 pt-1">
                                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" id="submitbutton" type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




</body>
</html>

<script>
    //     function toggleFormVisibility() {
    //     const form = document.getElementById("formContent");
    //     const isChecked = document.getElementById("permissionCheckbox").checked;
    //     form.style.display = isChecked ? "block" : "none";
    // }

    function toggleFormContentReadOnly() {
        const checkbox = document.getElementById('permissionCheckbox');
        const textarea = document.querySelector('#formContent textarea');
        const form = document.getElementById("formContent");
        textarea.readOnly = !checkbox.checked;
        const isChecked = document.getElementById("permissionCheckbox").checked;
        form.style.display = isChecked ? "block" : "none";
    }


    function confirmSubmit() {
        let confirmed = confirm("Are you sure you want to submit?");


        // Tr? v? true n?u ng??i dùng xác nh?n, ng??c l?i tr? v? false
        return confirmed;
    }
</script>