<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<style>
    .page-item.active a {
        border: 1px solid #ccc;
        background-color: #dea8059c;
        color: white;
    }
</style>
<body>
<div th:replace="~{fragments/barside}">

</div>
<div class="container">
    <div class="row mt-5 mb-5" style="background-color: #dea8059c;">
        <h1 class="mt-5 mb-5" style="color: black;">List Attendances</h1>
    </div>
    <div class="d-flex justify-content-between">
        <div class="">
            <a th:href="@{/admin/attendance/insert}" class="btn btn-primary btn-sm mb-3"
               style="background-color: #dea8059c; color: black;"> Add Attendance</a>
        </div>
        <div class="">
            <form>
                <div class="input-group d-flex">
                    <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                           placeholder="Enter keyword">
                    <button type="submit" class="btn btn-secondary" style="background-color: #dea8059c; color: #333333 ">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${attendances.size() > 0}">
        <table class="table table-hover table-responsive-xl table-striped">
            <thead class="" style=" background-color: #dea8059c; ">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Full name</th>
                <th scope="col">Date check</th>
                <th scope="col">Time check in</th>
                <th scope="col">Time check out</th>
                <th scope="col">Working time</th>
                <th scope="col">Status</th>
                <th scope="col">Allowed</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attendance : ${attendances}">
                <th scope="row" th:text="${attendance.id}"></th>
                <td th:text="${attendance.user.email}"></td>
                <td th:text="${attendance.user.firstName} +' '+${attendance.user.lastName}"></td>
                <td th:if="${attendance.dateCheck != null}" th:text="${attendance.dateCheck}"></td>
                <td th:unless="${attendance.dateCheck != null}" style="text-align: center;">-</td>
                <td th:if="${attendance.timeCheckIn != null}" th:text="${attendance.timeCheckIn}"></td>
                <td th:unless="${attendance.timeCheckIn != null}" style="text-align: center;">-</td>
                <td th:if="${attendance.timeCheckOut != null}" th:text="${attendance.timeCheckOut}"></td>
                <td th:unless="${attendance.timeCheckOut != null}" style="text-align: center;">-</td>
                <td th:if="${attendance.workTime != null}" th:text="${attendance.workTime}"></td>
                <td th:text="${attendance.status}"></td>
                <td th:if="${attendance.allowed != null}" th:text="${attendance.allowed}"></td>
                <td th:unless="${attendance.allowed != null}" style="text-align: center;">-</td>

                <td>
                    <button th:attr="onclick='viewAttendance(' + ${attendance.id} + ')'">
                        <i class="fa-solid fa-circle-info" style="color: #eea738"></i>
                    </button>
                    <button th:attr="onclick='editAttendance(' + ${attendance.id} + ')'">
                        <span class="fa-regular fa-pen-to-square icon-dark" style="color: cornflowerblue"></span>
                    </button>
                    <button th:attr="onclick='confirmDelete(' + ${attendance.id} + ')'">
                        <span class="fa-regular fa-trash-can btn-delete" style="color: red"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${attendances.size() > 0}">
        <span>No tutorials found!</span>
    </div>
    <div th:replace="~{fragments/paging :: pagination('/admin/attendances')}"></div>

</div>
</body>
</html>
<script>

    $(document).ready(function () {
        // ...

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/tutorials}]]";
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }

    function confirmDelete(attendanceId) {
        if (confirm("Are you sure you want to delete this attendance?")) {
            // Nếu người dùng nhấp vào "OK", chuyển hướng đến URL xóa người dùng
            window.location.href = "/admin/attendance/delete/" + attendanceId;
        }
    }

    function viewAttendance(attendanceId) {
        window.location.href = "/admin/attendance/view/" + attendanceId;
    }

    function editAttendance(attendanceId) {
        window.location.href = "/admin/attendance/edit/" + attendanceId;
    }

    let paginationItems = document.querySelectorAll('.page-item');

    // Lặp qua mỗi ô pagination và thêm sự kiện click
    paginationItems.forEach(function (item) {
        item.addEventListener('click', function () {
            // Xóa lớp active từ tất cả các ô pagination
            paginationItems.forEach(function (element) {
                element.classList.remove('active');
            });
            // Thêm lớp active cho ô pagination được click
            this.classList.add('active');
        });
    });

</script>