<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User </title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script th:src="@{/webjars/jquery/3.7.0/dist/jquery.min.js}"></script>

</head>
<style>
    .page-item.active a {
        border: 1px solid #ccc;
        background-color: #dea8059c;
        color: white;
    }
</style>
<header th:replace="~{fragments/barside}">

</header>
<body>


<div class="container">
    <div th:if="${mess}" class="alert alert-success" role="alert">
        <span th:text="${mess}"></span>
    </div>
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <div class="row mt-5 mb-5" style="background-color: #dea8059c;">
        <h1 class="mt-5 mb-5" style="color: black;">List Email</h1>
    </div>
    <div class="d-flex justify-content-between">
        <div class="">
            <a th:href="@{/admin/mail/insert}" class="btn btn-primary btn-sm mb-3"
               style="background-color: #dea8059c; color: black;"> Send email</a>
        </div>
        <div class="">
            <form>
                <div class="input-group d-flex">
                    <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control"
                           placeholder="Enter keyword">
                    <button type="submit" class="btn btn-secondary" style="background-color: #dea8059c; color: #333333 ">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${mails.size() > 0}">
        <table class="table table-hover table-responsive-xl table-striped">
            <thead class="" style=" background-color: #dea8059c; ">
            <tr>
                <th scope="col">Id</th>
<!--                <th scope="col">Người nhận</th>-->
                <th scope="col">Receiver</th>
                <th scope="col">Title </th>
                <th scope="col">Sending date</th>
                <th scope="col">Sending time </th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mail : ${mails}">
                <th scope="row" th:text="${mail.mailId}"></th>
                <td>
                    <!-- Set the character limit -->
                    <span th:if="${#strings.length(mail.mailRecipient) > 30}"
                          th:text="${#strings.substring(mail.mailRecipient, 0, 30) + '...'}"
                          title="${mail.mailRecipient}"></span>
                    <span th:unless="${#strings.length(mail.mailRecipient) > 30}"
                          th:text="${mail.mailRecipient}"></span>
                </td>
                <td th:text="${mail.title}"></td>
                <td th:text="${mail.dateSend}"></td>
                <td th:text="${mail.timeSend}"></td>
                <td th:text="${mail.status}"></td>
                <td>
                    <button th:attr="onclick='viewMail(' + ${mail.mailId} + ')'" >
                        <i class="fa-solid fa-circle-info" style="color: #eea738"></i>
                    </button>
                    <button th:attr="disabled=${mail.status} == ${SENT} ,onclick='editMail(' + ${mail.mailId} + ')'">
                        <span class="fa-regular fa-pen-to-square icon-dark" style="color: cornflowerblue"></span>
                    </button>
                    <button th:attr="onclick='confirmDelete(' + ${mail.mailId} + ')'">
                        <span class="fa-regular fa-trash-can btn-delete" style="color: red"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${mails.size() > 0}">
        <span>No tutorials found!</span>
    </div>
    <div th:replace="~{fragments/paging :: pagination('/admin/mails')}"></div>

</div>
</body>
</html>
<script>

    $(document).ready(function () {
        // ...

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/tutorials}]]";
        });
    });

    function changePageSize() {
        $("#searchForm").submit();
    }

    function confirmDelete(mailId) {
        if (confirm("Are you sure you want to delete this mail?")) {

            const url = '/admin/mail/delete/' + mailId;
            console.log("Starting function");
            console.log("URL:", url);

            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: url,
                    type: "DELETE",
                    contentType: "application/json", // Include if needed, but generally DELETE doesn't need it
                    success: function (response) {
                        console.log("Received response from server:", response);
                        alert('Deleted successfully.');
                        window.location.reload();
                    },
                    error: function (ex) {
                        console.error("Error during AJAX request:", ex);
                        alert("Can not connect to server.");
                        reject(ex);
                    }
                });
            });
            // window.location.href = "/admin/mail/delete/" + mailId;
        }
    }

    function viewMail(mailId) {
        window.location.href = "/admin/mail/view/" + mailId;
    }

    function editMail(mailId) {
        window.location.href = "/admin/mail/edit/" + mailId;
    }

    let paginationItems = document.querySelectorAll('.page-item');

    // Lặp qua mỗi ô pagination và thêm sự kiện click
    paginationItems.forEach(function (item) {
        item.addEventListener('click', function () {
            // Xóa lớp active từ tất cả các ô pagination
            paginationItems.forEach(function (element) {
                element.classList.remove('active');
            });
            // Thêm lớp active cho ô pagination được click
            this.classList.add('active');
        });
    });

</script>