<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>

    <style>
        input[type="radio"]:disabled {
            opacity: 1.0;
            filter: none;
        }
    </style>
</head>

<header th:replace="~{fragments/barside}">

</header>

<body>
<section class="">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">


                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Timekeeping information</h3>
                        <form th:action="@{/admin/attendance/edit/{id}(id=${attendance.id})}" th:object="${attendance}" method="POST" onsubmit="return confirmSubmit();">
                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline">
                                        <input type="text" th:field="*{user.email}" id="firstName" class="form-control form-control-lg" readonly />
                                        <label class="form-label" for="firstName">Email</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="date" th:field="*{dateCheck}" class="form-control form-control-lg" id="dateCheck" />
                                        <label for="dateCheck" class="form-label">Timekeeping date</label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="time" th:field="*{timeCheckIn}" class="form-control form-control-lg" id="timeCheckIn" readonly/>
                                        <label for="timeCheckIn" class="form-label">Checkin time</label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div data-mdb-input-init class="form-outline datepicker w-100">
                                        <input type="time" th:field="*{timeCheckOut}" class="form-control form-control-lg" id="timeCheckOut" readonly />
                                        <label for="timeCheckOut" class="form-label">Checkout time</label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-2 pb-2" >

                                    <h6 class="mb-2 pb-1">Status: </h6>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="ontime" th:value="${ONTIME}" th:checked="*{status == 'ONTIME'}" disabled />
                                        <label class="form-check-label" for="ontime">On time</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="late" th:value="${LATE}" th:checked="*{status == 'LATE'}" disabled/>
                                        <label class="form-check-label" for="late">Late</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{status}" type="radio" name="status" id="miss" th:value="${MISS}" th:checked="*{status == 'MISS'}" disabled/>
                                        <label class="form-check-label" for="miss">Miss</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2" >
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" th:field="*{allowed}" type="checkbox" id="permissionCheckbox" th:value="true" th:checked="*{allowed}" onchange="toggleFormContentReadOnly()" disabled/>
                                        <label class="form-check-label" for="permissionCheckbox">Allowed</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 pb-2">
                                    <div id="formContent">
                                        <h6>Ghi chú</h6>
                                        <label>
                                            <textarea th:field="*{note}" rows="4" cols="40" readonly></textarea>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-1 pt-1">
                                <input data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" type="button" value="Edit" th:attr="onclick='editAttendance(' + ${attendance.id} + ')'" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




</body>
</html>

<script>

    function editAttendance(id) {
        window.location.href = "/admin/attendance/edit/" + id;
    }
</script>